#simple-menu-dd {
  left: 400px;
}
#name_icon {
  width: 25px;
  height: 25px;
  font-size: 0.875rem;
  margin-right: 0;
  position: absolute;
  top: 7px;
}
#dd_square {
  /* width: 250px;
  height: 100px;
  overflow: scroll; */
}
