body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: rgb(59, 59, 59);
}

#matak-icon {
  z-index: 5000;
  width: 40px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
  pointer-events: none;
}

#add-icon {
  z-index: 5000;
  position: fixed;
  font-size: 4rem;
  top: 30px;
  left: 30px;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  transition: transform 0.1s ease;
}
#add-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.frosted {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.MuiButton-containedSecondary:hover {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.466);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* for date picker */
.MuiPopover-root {
  z-index: 5003 !important;
}

.menu-transition-enter {
  transform: translateX(-100%);
}
.menu-transition-enter-active {
  transform: translateX(0);
  transition: all 200ms;
}
.menu-transition-exit {
  transform: translateX(0);
}
.menu-transition-exit-active {
  transform: translateX(-100%);
  transition: all 200ms;
}

a {
  color: black;
  text-decoration: none;
}

/*                 my-account                   */
.my_account_screen {
  width: 100%;
  min-height: 100vh;
  background: rgba(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame {
  margin-top: 10vh;
  text-align: center;
  min-width: 35vw;
  padding: 2rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.avatar_name {
  margin-right: 2rem;
  transform: scale(1.2);
}
.name {
  text-transform: capitalize;
}
.organization-name {
  text-transform: capitalize;
}

/*Notifications screen*/

.table_notification .MuiDataGrid-colCell {
  background-color: rgba(188, 201, 238, 0.747);
  font-size: 1.1rem;
  font-weight: bold;
}
.table_notification .MuiDataGrid-colCellWrapper {
  font-size: 1.1rem;
  font-weight: bold;
}

/* .table_notification .MuiDataGrid-colCell:nth-child(1) {
/* .table_notification .MuiDataGrid-row {
  /* background-color: rgba(241, 9, 9, 0.541); */
/* } * */

.table_notification .MuiDataGrid-viewport {
  background-color: white;
}
.table_notification .MuiDataGrid-colCell:nth-child(1) {
  background-color: white;
}
*/ .table_notification .MuiDataGrid-cell {
  font-size: 1rem;
  font-weight: bold;
}

/* admin-panel */
.table-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-title h1 {
  margin-right: 10px;
}

.add-btn {
  margin-top: 8px;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.positive-btn {
  background-color: "#00c853";
  color: "#fff";
}

.negative-btn {
  background-color: "#f44336";
  color: "#fff";
}

.form-field {
  width: 100%;
}

.form-message {
  display: flex;
  justify-content: center;
  padding: 1%;
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
}

.success {
  color: green;
}

.failure {
  color: red;
}
#notification-icon {
  position: fixed;
  z-index: 5001;
  top: 25px;
  right: 125px;
  background-color: rgba(247, 116, 9, 0.7);
  transition: all 0.1ms ease;
}

#refresh-icon {
  position: fixed;
  z-index: 5001;
  top: 25px;
  right: 170px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.1ms ease;
}

#refresh-icon:hover,
#notification-icon:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1.1);
}
#notification-icon:hover {
  background-color: rgba(247, 116, 9, 1);
}
